.legend-box{
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 200px;
    height: 75%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
  }